<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="d-flex flex-column">
				<button type="button" class="btn btn-link js-open-doc" data-doc="conocenos">Conócenos</button>
				<button type="button" class="btn btn-link js-open-doc" data-doc="terminos-condiciones-trip_sync">Términos y condiciones</button>
				<button type="button" class="btn btn-link js-open-doc" data-doc="politica-privacidad-trip_sync">Política de privacidad</button>
				<button type="button" class="btn btn-link js-open-doc" data-doc="politica-cookies-trip_sync">Política de cookies</button>
			</div>
		</div>

		<!-- espacio vacío -->
		<div class="col-md-2"></div>

		<div class="col-md-4 d-flex flex-column">
			<h4>Repositorio del proyecto</h4>
			<a href="https://github.com/Marasi8/Trip_Sync" class="btn btn-secondary" target="_blank" rel="noopener noreferrer" aria-label="Ir al repositorio">
				<img src="{{ asset('img/mark-github-24.svg') }}" alt="GitHub" width="20" height="20">
			</a>
		</div>
	</div>
</div>

